th {
    font-family: 'chakra petch', sans-serif;
}
td {
    font-family: 'chakra petch', sans-serif;
    background-color: gray;
}
tr {
    font-family: 'chakra petch', sans-serif;
}
th {
    background-color: lightslategrey;
}